@model List<Movie>

<form asp-action="Search" asp-controller="Home">
    <input type="text" name="search" placeholder="Search Movies by Title" />
    <input type="submit" value="Search" />
    <br />

</form>

<form asp-action="Index" asp-controller="Home">

    <select id="genre" name="sortMethod">
        <option style="display:none">All Genres</option>
        <option value="27">Horror</option>
        <option value="16">Animated</option>
        <option value="35">Comedy</option>
        <option value="18">Drama</option>
        <option value="12">Adventure</option>
        <option value="99">Documentary</option>
        <option value="53">Thriller</option>

    </select>

    <input type="submit" id="genre" name="sortMethod" value="Sort" />
    <br />
</form>

<div>
    @foreach (Movie r in Model)
    {<div class="box">
            
                <div>
                    @{ string posterURL = "https://image.tmdb.org/t/p/w92" + @r.poster_path;
                    }


                    <img src=" @posterURL" alt="No Img" />

                </div>
                <div class="box2">
                    <div class="center">
                        <h1>@r.title</h1>
                        <h6><i>@r.tagline</i></h6>

                        <h6>Rating:</h6>
                        <p>@r.vote_average /10 (@r.vote_count reviews)</p>

                        <h6>Release Date:</h6>
                        <p>@r.release_date</p>
                    </div>
                    <div class="right">
                        <a asp-action="ViewSingleMovie" asp-controller="Home" asp-route-id="@r.id">
                            <button class="right">
                                More Details
                            </button>
                        </a>
                    </div>
                </div>
            

        </div>
    }

</div>
<form asp-action="Index" asp-controller="Home">



    <input type="button" name="pageNo" value="Next Page" />
</form>


<style>
    body {
        background-color: rgb(30,58,111);
        color: white;
    }

    .pb-3 {
    }

    .box {
        background-color: rgb(229,144,144);
        padding: 25px;
        border-radius: 25px;
        display: flex;
        margin: 25px;
    }

    .box2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 20px;
    }

    .right {
        float: right;
    }

    .center {
        float: left;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    button {
        margin: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: rgb(249,139,58);
        color: rgb(17,39,80);
    }

        button:hover {
            color: rgb(109,178,164);
            background-color: rgba(242,107,58, .2);
        }
</style>