@model List<Movie>
@{
    int? currentPage = (int)TempData["page"];
}

@foreach (Movie m in Model)
{
    string posterURL = "https://image.tmdb.org/t/p/original" + @m.poster_path;
    <h2>@m.title</h2>
    <img src=" @posterURL" alt="No Img" width="100" height="100" />
    <h4>Release Date: @m.release_date</h4>
    <a asp-action="ViewSingleMovie" asp-route-id="@m.id">
        <button>
            More Details
        </button>
    </a>
    <br />
}

@* next and previous pages, only redirect to different page if it exists, otherwise pulls same page*@
@if (currentPage > 1)
{
    @Html.ActionLink("Prev", "Search", "Home", new { search = TempData["CurrentSearch"] as string, pageNo = currentPage - 1 }, null)
}
else
{
    @Html.ActionLink("Prev", "Search", "Home", new { search = TempData["CurrentSearch"] as string, pageNo = currentPage }, null)
}
@if (currentPage < (int)TempData["totalPages"])
{
    @Html.ActionLink("Next", "Search", "Home", new { search = TempData["CurrentSearch"] as string, pageNo = currentPage + 1 }, null)
}
else
{
    @Html.ActionLink("Next", "Search", "Home", new { search = TempData["CurrentSearch"] as string, pageNo = currentPage }, null)
}