@model List<Movie>
@{
    int? currentPage = (int)TempData["page"];
}
<h1>Search Results</h1>
<div>
    @foreach (Movie m in Model)
    {
        <div class="box">
            <div>
                @{string posterURL = "https://image.tmdb.org/t/p/w92" + @m.poster_path; }
                <img src="@posterURL" alt="No Img" />
            </div>
            <div class="box2">
                <div class="center">
                    <h1>@m.title</h1>

                    <h6><i>@m.tagline</i></h6>

                    <h6>Rating:</h6>
                    <p>@m.vote_average /10 (@m.vote_count reviews)</p>

                    <h6>Release Date:</h6>
                    <p>@m.release_date</p>
                </div>
                <div class="right">
                    <a asp-action="ViewSingleMovie" asp-route-id="@m.id">
                        <button>
                            More Details
                        </button>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@* next and previous pages, only redirect to different page if it exists, otherwise pulls same page*@
@if (currentPage > 1)
{
    @Html.ActionLink("Prev", "Search", "Home", new { search = TempData["CurrentSearch"] as string, pageNo = currentPage - 1 }, null)
}
else
{
    @Html.ActionLink("Prev", "Search", "Home", new { search = TempData["CurrentSearch"] as string, pageNo = currentPage }, null)
}
@if (currentPage < (int)TempData["totalPages"])
{
    @Html.ActionLink("Next", "Search", "Home", new { search = TempData["CurrentSearch"] as string, pageNo = currentPage + 1 }, null)
}
else
{
    @Html.ActionLink("Next", "Search", "Home", new { search = TempData["CurrentSearch"] as string, pageNo = currentPage }, null)
}

<style>
    body {
        background-color: rgb(30,58,111);
        color: white;
    }

    .pb-3 {
    }

    .box {
        background-color: rgb(229,144,144);
        padding: 25px;
        border-radius: 25px;
        display: flex;
        margin: 25px;
    }

    .box2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 20px;
    }

    .right {
        float: right;
    }

    .center {
        float: left;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    button {
        margin: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: rgb(249,139,58);
        color: rgb(17,39,80);
    }

        button:hover {
            color: rgb(109,178,164);
            background-color: rgba(242,107,58, .2);
        }
</style>