@model Movie


@{ string imgSrc = "http://image.tmdb.org/t/p/" + "w500" + $"{Model.poster_path}";
   string backdropSrc = "http://image.tmdb.org/t/p/" + "w1280" + $"{Model.backdrop_path}"; }
    <style>
        body{
            background-image:url(@backdropSrc);
        }
       
        .text {
            background-color: rgba(255, 255, 255,.8);
            
            padding:25px;
            border-radius: 25px;
        }
        .container{
            display: flex;
        }
        .sideBySide {
            flex: 1;
            border-radius: 25px;
        }
        .sideBySide:first-child{
            margin-right: 20px;
        }
        a{
            justify-content: center;
        }
    </style>

<h2 class="text">@Model.original_title</h2>
<div class="container">
    <img src="@imgSrc" alt="Alternate Text" class="sideBySide" />
    <div class="text sideBySide">
        <h4>Description</h4>
        <p>@Model.overview</p>
        <h6>Genre(s):</h6>
        <p>
            @foreach (Genre genre in Model.genres)
            {
                @genre.name@:,
            }
        </p>
        <h6>Released:</h6>
        <p>@Model.release_date</p>


        <h6>Run time</h6>
        <p>@Model.runtime minutes</p>

        <a asp-action="Index" asp-controller="Favorite">
            <button>
                Add Movie To My Favorites
            </button>
        </a>
        <a href="@Model.homepage">
            <button>
                Movie Home Page
            </button>
        </a>
    </div>
</div>